.secundario {
  background-color: var(--color-terciario);
  border: 2px solid var(--color-terciario);
}

.secundario:hover {
  background-color: var(--color-secundario-hover);
  border: 2px solid var(--color-secundario-hover);
}

/* Estilos para celulares (máximo 400px) */
@media (max-width: 400px) {
  .secundario {
    width: 5rem;
    height: 2.3rem;
    text-align: center;
  }
}