.login {
    font-size: 1.5em;
    color: white;
    background-color: var(--color-primario);
    top: 50%;
    left: 5%;
    width: 14em;
    height: 2.5em;
    font-size: 1.2em;
    text-align: center;
    line-height: 2.5em;
}

.login:hover {
    background-color: var(--color-primario-hover);
    box-shadow: 0 0.25rem 0.5rem var(--color-sombra);
}

.primario {
    color: white;
    background-color: var(--color-primario);
    border: 2px solid var(--color-primario);
}

.primario:hover {
    background-color: var(--color-primario-hover);
    border: 2px solid var(--color-primario-hover);
}

/* Estilos para celulares (máximo 400px) */
@media (max-width: 400px) {
    .primario {
        width: 5rem;
        height: 2.3rem;
        text-align: center;
    }
}